<!-- show.html.erb -->
<div id="wrapper">

  <div class="top-white text-center">

    <h3 id="name">
      <% if @student.last_name  %>
      <%= @student.first_name.capitalize%> <%= @student.last_name.capitalize%>
      <% end %>
    </h3>

  </div>

  <div class="bottom-gray text-center">

    <% if @student.photo.present? %>
    <div class="round">
      <%= cl_image_tag @student.photo.url(:bright_face) %>
    </div>
    <% end %>

    <h4 id="email" >
      <%= @student.email if @student.email %>
    </h4>

    <p id="birth" >
      <!-- <i class="fas fa-birthday-cake"></i> -->
      <i class="fas fa-ribbon"></i>
      <%= @student.birthdate.strftime('%d %b %Y') if @student.birthdate %>
    </p>

  </div>

  <% if @student.bio.present? %>
  <div id="bio">
      <p><%= @student.bio %></p>
  </div>

  <% else %>
    <p id="bio">
      <em>You did not provide any description yet.
      <br>
      Please <strong>tell us about yourself</strong>!</em>
    </p>

  <% end %>
  </div>

</div>

<div id="btn-edit">
  <%= link_to edit_student_registration_path(current_student) do %>
  <%= image_tag "edit.png" %>
  <% end %>
</div>
