<!-- Dynamic Head Title -->
<% provide(:title, 'Student') %>

<div class="text-center">

  <h2>
    <strong>STUDENT:</strong><br>
      <% if @student.last_name  %>
        <%= @student.last_name.capitalize%> <%= @student.first_name.capitalize%>
      <% elsif @student.name %><!-- Facebook name -->
        <%= @student.name %>
      <% end  %>
  </h2>

  <!-- Cloudinary ------------------------------------------------------------->
  <% if @student.photo.present? %>
    <%= cl_image_tag @student.photo.url(:bright_face) %>

  <!-- Facebook --------------------------------------------------------------->
  <% elsif @student.image_fb.present? %>
    <div style="border-radius: 50%">
      <%= image_tag @student.image_fb + "?type=large",style:"border-radius:50%"%>
    </div>

  <!-- Loremflickr ------------------------------------------------------------>
  <% else %>
    <% a = "https://kooledge.com/assets/default_medium_avatar-57d58da4fc778fbd688dcbc4cbc47e14ac79839a9801187e42a796cbd6569847.png" %>
    <div style="margin:0 auto;width:100px;height:100px;background-image: url(<%= a %>);background-position: center;
      background-repeat: no-repeat;
      background-size: cover;">
    </div>
  <% end %>

  <p><strong>@Email:</strong><br><%= @student.email %></p><!-- @Email --------->

  <% if @student.birthdate %><!-- Birthdate ----------------------------------->
    <p><strong>Birthdate:</strong><br><%= @student.birthdate %></p>
  <% end %>

  <p><strong>Bio:</strong><br><!-- Bio ---------------------------------------->
    <% if @student.bio.present? %>
      <div style="width:80%;margin:0 auto;">
        <p><%= @student.bio %></p>
      </div>
    <% else %>
      <p style="opacity: .7"><em>
        You did not provide any description yet.<br>
        Please <strong>tell us about yourself</strong>!
      </em></p>
    <% end %>
  </p>

  <!-- STUDENT - EDIT btn ----------------------------------------------------->
  <% if current_user.is_a?(Student) && @student == current_student %>
    <%= link_to "Edit",edit_student_registration_path, class:"btn btn-primary"%>
  <% end %>

  <br>
  <br>

<!-- FAVOURITE Tutors --------------------------------------------------------->
  <% if current_user.is_a?(Student) && @student == current_student &&
        @student.lessons %>
    <% @student.lessons.each do |lesson| %>

      <hr class="style18">
      <div style="display:flex;justify-content:space-between;padding: 5%;">

        <div><!-- Link Tutor Img ---------------------------------------------->
        <% if lesson.tutor.nil? %>
          <i class="fas fa-chalkboard-teacher" style="font-size:3em;opacity:.3"></i>

        <% else %>
          <%= link_to (cl_image_tag(lesson.tutor.photo.url(:bright_face_small))),tutor_path(lesson.tutor) %>

        <% end %>
        </div>

        <div><!-- Lesson Title ------------------------------------------------>
          <p><strong>
            <%= link_to lesson.title, lesson_path(lesson) %>
          </strong></p>
        </div>

        <div><!-- Lesson Date + Status ---------------------------------------->
          <p><%= lesson.date.strftime("%a, %e %b %Y") %></p>

          <% color = "darkorange" if lesson.status == "requested" %>
          <% color = "cadetblue"  if lesson.status == "scheduled" %>
          <% color = "green"      if lesson.status == "completed" %>
          <% color = "red"        if lesson.status == "canceled"  %>
          <p><span style="color:<%= color %>;"><%= lesson.status %></span></p>
        </div>

      </div>

    <% end %>
  <% end %>

</div>



