<!-- Dynamic Head Title -->
<% provide(:title, 'Student') %>

<p>Students#show</p>
<div class="text-center">

  <h2>STUDENT:</h2>

  <% if @student.photo.present? %>
    <%= cl_image_tag @student.photo, height: 300, width: 400, crop: :fill %>
  <% elsif %>
    <div><%= image_tag current_student.image + "?type=large" if current_student.image  %></div>
  <% else %>
    <img style="border-radius: 50%;" src="https://loremflickr.com/150/150/boy,girl/all" alt="Profile Pic">
  <% end %>

  <h2><%= @student.last_name %> <%= @student.first_name %></h2>
  <h3>@Email: <%= @student.email %></h3>

  <p>Bio: <%= @student.bio %></p>

  <%= link_to "<< Back", students_path, class:"btn btn-primary"  %>

</div>
