<!-- Dynamic Head Title -->
<% provide(:title, 'Student') %>

<div class="text-center">

  <h2>
    <strong>STUDENT:</strong><br>
      <% if @student.last_name  %>
        <%= @student.last_name.capitalize%> <%= @student.first_name.capitalize%>
      <% elsif @student.name %><!-- Facebook name -->
        <%= @student.name %>
      <% end  %>
  </h2>

  <!-- Cloudinary ------------------------------------------------------------->
  <% if @student.photo.present? %>
    <%= cl_image_tag @student.photo.url(:bright_face) %>

  <!-- Facebook --------------------------------------------------------------->
  <% elsif @student.image_fb.present? %>
    <div style="border-radius: 50%">
      <%= image_tag @student.image_fb + "?type=large",style:"border-radius:50%"%>
    </div>

  <!-- Loremflickr ------------------------------------------------------------>
  <% else %>
    <img style="border-radius: 50%;"
         src="https://loremflickr.com/150/150/boy,girl/all" alt="Profile Pic">
  <% end %>

  <p><strong>@Email:</strong><br><%= @student.email %></p><!-- @Email --------->

  <% if @student.birthdate %><!-- Birthdate ----------------------------------->
    <p><strong>Birthdate:</strong><br><%= @student.birthdate %></p>
  <% end %>

  <p><strong>Bio:</strong><br><!-- Bio ---------------------------------------->
    <% if @student.bio.present? %>
      <div style="width:80%;margin:0 auto;">
        <p><%= @student.bio %></p>
      </div>
    <% else %>
      <p><em>
        You did not provide any description yet.<br>
        Please <strong>tell us about yourself</strong>!
        <!-- Please <strong>edit</strong> your profile and add some info about yourself -->
      </em></p>
    <% end %>
  </p>

  <!-- STUDENT - EDIT btn ----------------------------------------------------->
  <% if current_user.is_a?(Student) && @student == current_student %>
    <%= link_to "Edit",edit_student_registration_path, class:"btn btn-primary"%>
  <% end %>

  <br>
  <br>

<!-- FAVOURITE Tutors --------------------------------------------------------->
  <% if current_user.is_a?(Student) && @student == current_student %>
    <% @student.lessons.each do |lesson| %>

      <hr class="style18">
      <div style="display:flex;justify-content:space-around;padding: 5%;">

        <div><!-- tutor Img --------------------------------------------------->
          <%= link_to (cl_image_tag(lesson.tutor.photo.url(:bright_face_small))),tutor_path(lesson.tutor)%>
        </div>

        <div><!-- lesson Title ------------------------------------------------>
          <p><strong><%= lesson.title %></strong></p>
        </div>

        <div><!-- lesson Date + Status ---------------------------------------->
          <p><%= lesson.date %></p>

          <% color = "darkorange" if lesson.status == "requested" %>
          <% color = "cadetblue"  if lesson.status == "scheduled" %>
          <% color = "green"      if lesson.status == "completed" %>
          <% color = "red"        if lesson.status == "canceled"  %>
          <p><span style="color:<%= color %>;"><%= lesson.status %></span></p>
        </div>

      </div>

    <% end %>
  <% end %>

</div>



