<!-- Dynamic Head Title -->
<% provide(:title, 'Student') %>

<div class="text-center">

  <h2>
    <strong>STUDENT:</strong><br>
    <%= @student.last_name + @student.first_name if @student.last_name %>
    <%= @student.name if @student.name %><!-- Facebook name -->
  </h2>

  <!-- Cloudinary -->
  <% if @student.photo.present? %>
    <%= cl_image_tag @student.photo.url(:bright_face) %>

  <!-- Facebook -->
  <% elsif @student.image_fb.present? %>
    <div style="border-radius: 50%">
    <%= image_tag @student.image_fb + "?type=large",style:"border-radius:50%" %>
    </div>

  <!-- Loremflickr -->
  <% else %>
    <img style="border-radius: 50%;" src="https://loremflickr.com/150/150/boy,girl/all" alt="Profile Pic">
  <% end %>

  <p><strong>@Email:</strong><br><%= @student.email %></p>

  <% if @student.birthdate %>
    <p><strong>Birthdate:</strong><br><%= @student.birthdate %></p>
  <% end %>

  <p><strong>Bio:</strong><br><%= @student.bio %></p>

</div>
