<!-- Dynamic Head Title -->
<% provide(:title, 'Student') %>

<div class="text-center">

  <h2>
    <strong>STUDENT:</strong><br>
      <% if @student.last_name  %>
        <%= @student.last_name.capitalize%> <%= @student.first_name.capitalize%>
      <% elsif @student.name %><!-- Facebook name -->
        <%= @student.name %>
      <% end  %>
  </h2>

  <!-- Cloudinary ------------------------------------------------------------->
  <% if @student.photo.present? %>
    <%= cl_image_tag @student.photo.url(:bright_face) %>

  <!-- Facebook --------------------------------------------------------------->
  <% elsif @student.image_fb.present? %>
    <div style="border-radius: 50%">
      <%= image_tag @student.image_fb + "?type=large",style:"border-radius:50%"%>
    </div>

  <!-- Loremflickr ------------------------------------------------------------>
  <% else %>
    <img style="border-radius: 50%;"
         src="https://loremflickr.com/150/150/boy,girl/all" alt="Profile Pic">
  <% end %>

  <p><strong>@Email:</strong><br><%= @student.email %></p><!-- @Email --------->

  <% if @student.birthdate %><!-- Birthdate ----------------------------------->
    <p><strong>Birthdate:</strong><br><%= @student.birthdate %></p>
  <% end %>

  <p><strong>Bio:</strong><br><!-- Bio ---------------------------------------->
    <% if @student.bio.present? %>
      <div style="width:80%;margin:0 auto;">
        <p><%= @student.bio %></p>
      </div>
    <% else %>
      <p><em>
        Please <strong>edit</strong> your profile and add some info about yourself
      </em></p>
    <% end %>
  </p>

  <!-- STUDENT - EDIT btn ----------------------------------------------------->
  <% if current_user.is_a?(Student) && @student == current_student %>
    <%= link_to "Edit",edit_student_registration_path, class:"btn btn-primary"%>
  <% end %>

  <br>
  <br>

<!-- FAVOURITE Tutor ---------------------------------------------------------->
  <% @student.mytutor_ids.each do |lesson_id| %>

    <!-- Delete tutor_id from favourite IF lesson_id.NIL? --------------------->
    <% if find_lesson(lesson_id).nil? %>
      <% @student.mytutor_ids.delete(lesson_id) %>
      <% @student.save! %>
      <% next %>
    <% end %>

    <div style="display:flex;justify-content:space-around;
                padding: 5%;border-top:2px solid darkgrey;">
      <div><!-- tutor Img---------------------------------------------------->
        <%= link_to (cl_image_tag(find_lesson(lesson_id).tutor.photo.
            url(:bright_face_small))),tutor_path(find_lesson(lesson_id).tutor)%>
      </div>

      <div><!-- lesson Title & Date ----------------------------------------->
        <p><strong><%= find_lesson(lesson_id).title %></strong></p>
        <p><%= find_lesson(lesson_id).date %></p>
      </div>
    </div>

  <% end %>

</div>



