<!-- Dynamic Head Title -->
<% provide(:title, 'Tutor') %>

<div class="text-center">

  <h2>TUTOR:</h2>

  <% if @tutor.photo.present? %>
    <%= cl_image_tag @tutor.photo.url(:bright_face) %>
  <% elsif @tutor.image_fb.present? %>
    <div><%= image_tag current_tutor.image_fb + "?type=large" if current_tutor.image_fb  %></div>
  <% else %>
    <img style="border-radius: 50%;" src="https://loremflickr.com/150/150/boy,girl/all" alt="Profile Pic">
  <% end %>

  <h1><%= @tutor.last_name.capitalize %> <%= @tutor.first_name.capitalize %></h1>
  <p><strong>@Email: <%= @tutor.email %></strong></p>
  <p>Phone: <%= @tutor.phone %></p>
  <p><strong>Bio:</strong> <%= @tutor.bio %></p>

  <br>
  <h3 style="border-top: 2px solid darkgray; width: 70%; margin: 0 auto;padding-top: 20px;">Reviews:</h3>

  <div style="display: flex; width: 100%;">

    <% @tutor.reviews.each do | review | %>

      <div class="text-center" style="padding: 40px; width: 50%;">
        <p><strong><%= review.title %></strong></p>
        <p><small><%= review.content %></small></p>

        <% blank_stars = 5 - review.rating.to_i %>
        <% review.rating.to_i.times do  %>
          <i style="color:gold;" class="fas fa-star filledstars"></i>
          <% end %>
          <% blank_stars.times do %>
          <i class="far fa-star blankstars"></i>
        <% end %>

      </div>

    <% end %>

  </div>

  <%= link_to "Add Review", new_tutor_review_path(@tutor), class:"btn btn-success" %>

</div>
