<!-- Dynamic Head Title -->
<% provide(:title, 'Tutor') %>

<div class="text-center">

  <h2>
    <strong><i class="fas fa-chalkboard-teacher"></i> TUTOR:</strong><br>
      <% if @tutor.last_name %>
        <%= @tutor.last_name.capitalize %> <%= @tutor.first_name.capitalize %>
      <% elsif @tutor.name %><!-- Facebook name -->
        <%= @tutor.name %>
      <% end  %>
  </h2>
  <!-- IMAGE ------------------------------------------------------------------>
  <% if @tutor.photo.present? %><!-- Cloudinary ------------------------------->
    <%= cl_image_tag @tutor.photo.url(:bright_face) %>

  <% elsif @tutor.image_fb.present? %><!-- Facebook --------------------------->
    <div style="border-radius: 50%">
      <%= image_tag @tutor.image_fb + "?type=large",style:"border-radius:50%" %>
    </div>
  <% elsif @tutor.placeholder.present? %> <!-- Random Avatar  -->
    <div><%= image_tag @tutor.placeholder, style: "border-radius:50%;" %></div>
  <% else %><!-- Loremflickr -------------------------------------------------->
    <div style="margin:0 auto;width:100px;height:100px;
      background-image: url(<%= @a %>); background-position: center;
      background-repeat: no-repeat; background-size: cover;">
    </div>
  <% end %>
<hr>
  <p><strong>@Email:</strong><br><%= @tutor.email %></p><!-- @Email ----------->

  <% if @tutor.birthdate %><!-- Birthdate ------------------------------------->
    <p><strong>Birthdate:</strong><br><%= @tutor.birthdate %></p>
  <% end %>

  <% if @tutor.level.present? %><!-- Level ------------------------------------>
    <p><strong>Level:</strong> <%= @tutor.level %><i class="fas fa-medal"></i></p>
  <% end %>

  <br>
  <% if @tutor.category_ids.present?  %>
  <strong>Category:</strong><br>
    <% @tutor.category_ids.each do |category| %>
      <%= Category.find(category).name %>
      <br>
    <% end %>
  <% end %>

  <br>
  <p><strong>Bio:</strong><br><!-- Bio ---------------------------------------->
    <% if @tutor.bio.present? %>
      <div style="width:80%;margin:0 auto;">
        <p><%= @tutor.bio %></p>
      </div>
    <% else %>
      <p style="opacity: .7"><em>
        You did not provide any description yet.<br>
        Please <strong>tell us about yourself</strong>!
      </em></p>
    <% end %>
  </p>

  <!-- EDIT btn - Profile TUTOR ----------------------------------------------->
  <% if current_user.is_a?(Tutor) && @tutor == current_tutor %>
    <%= link_to "Edit",edit_tutor_registration_path,class:"btn btn-warning"%>
  <br>
  <br>
  <% end %>

<!-- IDENTITY ----------------------------------------------------------------->
  <% if current_tutor == @tutor  %>

    <% if @tutor.identity.present? %><!-- Show ID ----------------------------->
      <%= link_to "Show Identity",tutor_identity_path(@tutor),
          class:"btn btn-primary" %>

    <% else %><!-- Add ID ----------------------------------------------------->
      <%= link_to "+ Add Identity",new_tutor_identity_path(@tutor),
          class:"btn btn-primary" %>
    <% end %>
  <br>
  <br>
  <% end %>

<!-- DOCUMENTS ---------------------------------------------------------------->
  <% if current_tutor == @tutor  %>

    <%= link_to "+ Add Document", new_tutor_document_path(@tutor),
        class:"btn btn-success" %>
    <%= link_to "Show Documents", tutor_documents_path(@tutor),
        class:"btn btn-success" if @tutor.documents.present? %>

  <% end %>

  <br>
  <br>
  <% if @tutor.reviews.present? %>

    <h3>Average Rating:</h3>
    <h4><%= @average %></h4><!-- Tutor#Show -->
    <% blank_stars = 5 - @average.to_i %>
    <% @average.to_i.times do  %>
      <i style="color:#94b5ef" class="fas fa-circle"></i>
    <% end %>
    <% blank_stars.times do %>
      <i style="color:#94b5ef" class="far fa-circle"></i>
    <% end %>

    <br>
    <br>
    <br>
<!-- REVIEWS ------------------------------------------------------------------>
<% if current_user.is_a?(Student) %>
  <%=link_to "+ Add Review",new_tutor_review_path(@tutor),class:"btn btn-success" if (@tutor.lessons.pluck(:id) & @student.lessons.pluck(:id)) != []%>
<% end %>


    <h3>
      <i class="fas fa-user-edit"></i> Reviews:
    </h3>

    <div class="row">
    <% @tutor.reviews.each do | review | %>
      <div class="col-sm-6">
      <hr class="style18">

      <!-- Img STUDENT - Link to reviewer's profile ----------------------->
      <% if review.student.photo.present? %>
        <%= link_to (cl_image_tag review.student.photo.url(:bright_face_small)),
            student_path(review.student) %>
      <% elsif review.student.placeholder.present? %> <!-- Random Avatar  -->
        <div>
        <%#= link_to student_path(review.student) do %>
          <%= image_tag review.student.placeholder,style:"border-radius:50%;"%>
        <%# end %>
        </div>
      <% else %>
        <div style="margin:0 auto;width:70px;height:70px;
          background-image: url(<%= @a %>); background-position: center;
          background-repeat: no-repeat; background-size: cover;">
        </div>
      <% end %>

        <p><strong><%= review.title %></strong></p>

        <% blank_stars = 5 - review.rating.to_i %><!-- Stars ---------------->
        <% review.rating.to_i.times do  %>
          <!-- <i style="color:gold;" class="fas fa-star filledstars"></i> -->
          <i style="color:#94b5ef" class="fas fa-circle"></i>
        <% end %>
        <% blank_stars.times do %>
          <!-- <i class="far fa-star blankstars"></i> -->
          <i style="color:#94b5ef" class="far fa-circle"></i>
        <% end %>

        <p><small><%= review.content %></small></p>

      </div>
    <% end %>
    </div><!-- /row -->

  <% else %><!-- No reviews --------------------------------------------------->
    <p style="opacity: .7"><em>No reviews yet...</em></p>
  <% end %>

  <br>
  <br>
  <br>
  <br>
  <br>

<!-- FAVOURITE Students ------------------------------------------------------->
  <% if current_user.is_a?(Tutor) && @tutor == current_tutor &&
        @tutor.lessons.present? %>

    <h3><i class="fas fa-history"></i> Last Lessons:</h3>

    <% @tutor.lessons.reverse.each do |lesson| %>
      <hr class="style18">
      <div style="display:flex; justify-content:space-between; padding:5%;">

        <div><!-- Link student Img -------------------------------------------->
        <% if lesson.student.photo.present? %>
          <%= link_to (cl_image_tag(lesson.student.photo.url(:bright_face_small))),student_path(lesson.student) %>

        <% elsif lesson.student.placeholder.present? %> <!-- Random Avatar  -->
          <div>
          <%= link_to student_path(lesson.student) do %>
            <%= image_tag lesson.student.placeholder,style:"border-radius:50%;"%>
          <% end %>
          </div>

        <% else %>
          <div style="width:70px;height:70px;background-image: url(<%= @a %>);background-position: center;background-repeat: no-repeat;
            background-size: cover;">
          </div>
        <% end %>
        </div>

        <div><!-- lesson Title ------------------------------------------------>
          <p><strong>
            <i class="fas fa-book"></i> Lesson Title:<br>
            <%= link_to lesson.title, lesson_path(lesson) %>
          </strong></p>
        </div>

        <div><!-- lesson Date + Status ---------------------------------------->
          <p><%= lesson.date.strftime("%a, %e %b %Y") %></p>

          <% color = "darkorange" if lesson.status == "requested" %>
          <% color = "cadetblue"  if lesson.status == "scheduled" %>
          <% color = "green"      if lesson.status == "completed" %>
          <% color = "red"        if lesson.status == "canceled"  %>
          <p><span style="color:<%= color %>;"><%= lesson.status %></span></p>
        </div>

      </div>

    <% end %>
  <% end %>

</div>
