<!-- _navbar.html.erb -->
<div role="navigation" class="navbar-top">

  <div class="log-out-icon">
  <% if current_student %>
    <%= link_to destroy_student_session_path, method: :delete,
    data: { confirm: "Are you sure?" } do %>
      <i class="fas fa-sign-out-alt"></i>
    <% end %>
  <% else %>
    <i class="fas fa-sign-out-alt" style="opacity: 0;"></i>
  <% end %>
  </div>

  <%= link_to lessons_path, class: "logo-navbar" do %>
    <%= image_tag "flexilearn-logo.png" %>
  <% end %>

  <div class="profile-icon">
  <% if current_student %>

    <!-- switch STUDENT icon <> X icon ---------------------------------------->
    <% if current_page?(student_path(current_student)) %>

      <%= link_to :back do %><!-- X icon ---------------------------------->
        <i class="fas fa-times shake-bottom"></i>
      <% end %>

    <% else %>

      <%= link_to student_path(current_student) do %><!-- STUDENT ------------->
        <i class="fas fa-user-graduate"></i>
      <% end %>

    <% end %>

  <% else %><!-- Not Logged in ------------------------------------------------>
    <%= link_to("LogIn", login_path) %>
  <% end %>
  </div>

</div>

