<!-- _navbar.html.erb -->
<div role="navigation" class="navbar-top">

  <div class="log-out-icon">
  <% if current_student %>
    <%= link_to destroy_student_session_path, method: :delete do %>
      <i class="fas fa-sign-out-alt"></i>
    <% end %>
  <% end %>
  </div>

  <%= link_to lessons_path, class: "logo-navbar" do %>
    <%= image_tag "flexilearn-logo.png" %>
  <% end %>

  <div class="profile-icon">
  <% if current_student %>
    <%= link_to student_path(current_student) do %>
      <i class="fas fa-user-graduate"></i>
    <% end %>
  <% else %>
    <%= link_to "signIN", login_path %>
  <% end %>
  </div>

</div>

