<!-- credential.html.erb -->
<div class="big-wrap">

  <h4 id="welcome" class="text-center" >
    WELCOME<br>
    <span id="who">STUDENT</span>
  </h4>

  <div class="round-btn text-center">
    <%= image_tag "tutor-round-dark.png", id: "img-tutor" %>
  </div>

  <div class="round-btn text-center">
    <%= image_tag "hat-round-dark.png", id: "img-student" %>
  </div>

  <div id="btn-container" class="btn-hidden" >
    <div class="light-white-btn text-center">
      <%= link_to "Sign Up",  new_student_registration_path %>
    </div>
    <div class="light-white-btn text-center">
      <%= link_to "Log In",  new_student_session_path %>
    </div>
  </div>

</div>


<script>

  var student      = document.getElementById("img-student");
  var who          = document.getElementById("who");
  var btnContainer = document.querySelector("#btn-container");

  student.addEventListener("touchstart", function() {

    btnContainer.classList.toggle("btn-hidden");

    if( btnContainer.classList.contains("btn-hidden") ) {
      student.src = "<%=image_path('hat-round-dark.png')%>";
      who.classList.add("btn-hidden");
      who.classList.remove("btn-show");
    } else {
      student.src = "<%=image_path('hat-round-light.png')%>";
      who.classList.remove("btn-hidden");
      who.classList.add("btn-show");
    }
    // setTimeout(function(){
    //   btnContainer.classList.toggle("btn-hidden");
    // }, 100)
  });

</script>
