<!-- Dynamic Head Title -->
<% provide(:title, 'SignUp') %>

<div style="display: flex; justify-content: space-around;" >

  <div><!-- S T U D E N T  Sign Up  -------------------------------------------->

    <h2>Sign up as a <strong>Student</strong></h2>

    <%= simple_form_for(@student, as: :student, url: registration_path(:student)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :first_name, required: true, autofocus: true %>
        <%= f.input :last_name, required: true, autofocus: true %>
        <%= f.input :phone, required: true, autofocus: true %>

        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        <%= f.input :password_confirmation, required: true %>

        <%= f.label :photo %>
        <%= f.input :photo, hint: "Please, only you in the photo" %>
        <%= f.input :photo_cache, as: :hidden %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up" %>
      </div>
    <% end %>

    <%#= render "students/shared/links" %>

  </div>

  <div><!-- T U T O R  Sign Up  ------------------------------------------------>

    <h2>Sign up as a <strong>Tutor</strong></h2>

    <%= simple_form_for(@tutor, as: :tutor, url: registration_path(:tutor)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :first_name, required: true, autofocus: true %>
        <%= f.input :last_name, required: true, autofocus: true %>
        <%= f.input :phone, required: true, autofocus: true %>

        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        <%= f.input :password_confirmation, required: true %>

        <%= f.input :photo, hint: "Please, only you in the photo" %>
        <%= f.input :photo_cache, as: :hidden %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up" %>
      </div>
    <% end %>

    <%#= render "tutors/shared/links" %>
  </div>

</div>
