<!-- Dynamic Head Title -->
<% provide(:title, 'SignUp') %>

<h1 class="text-center">SIGN UP</h1>

<div class="row" >

  <div class="col-md-offset-1 col-md-5"><!-- S T U D E N T  Sign Up  ---------->

    <h2>Sign up as a <strong>Student</strong></h2>

    <%= simple_form_for(@student, as: :student, url: registration_path(:student)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.label :first_name %>
        <%= f.input :first_name, label: false, required: true, autofocus: true %>
        <%= f.label :last_name %>
        <%= f.input :last_name, label: false, required: true, autofocus: true %>
        <%= f.label :phone %>
        <%= f.input :phone, label: false, required: true, autofocus: true %>

        <%= f.label :email %>
        <%= f.input :email, label: false, required: true, autofocus: true %>
        <%= f.label :password %>
        <%= f.input :password, label: false, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        <%= f.label :password_confirmation %>
        <%= f.input :password_confirmation, label: false, required: true %>

        <%= f.input :photo, hint: "Please, only you in the photo" %>
        <%= f.input :photo_cache, as: :hidden %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up" %>
      </div>
    <% end %>

    <%#= render "students/shared/links" %>

  </div>

  <div class="col-md-offset-1 col-md-5"><!-- T U T O R  Sign Up --------------->

    <h2>Sign up as a <strong>Tutor</strong></h2>

    <%= simple_form_for(@tutor, as: :tutor, url: registration_path(:tutor)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.label :first_name %>
        <%= f.input :first_name, label: false, required: true, autofocus: true %>
        <%= f.label :last_name %>
        <%= f.input :last_name, label: false, required: true, autofocus: true %>
        <%= f.label :phone %>
        <%= f.input :phone, label: false, required: true, autofocus: true %>

        <%= f.label :email %>
        <%= f.input :email, label: false, required: true, autofocus: true %>
        <%= f.label :password %>
        <%= f.input :password, label: false, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        <%= f.label :password_confirmation %>
        <%= f.input :password_confirmation, label: false, required: true %>

        <%= f.input :photo, hint: "Please, only you in the photo" %>
        <%= f.input :photo_cache, as: :hidden %>      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up" %>
      </div>
    <% end %>

    <%#= render "tutors/shared/links" %>
  </div>

</div>

<br>
<br>
<br>
<div class="text-center">
  <%= link_to "LOG IN", login_path, class: "btn btn-primary" %>
</div>
