<!-- Dynamic Head Title -->
<% provide(:title, 'Documents') %>

<div id="documents-wrapper" class="text-center">

<% if @tutor.documents.present? %>

  <% @tutor.documents.each do |document| %>

<!-- TUTOR Q U A L I F I C A T I O N S ---------------------------------------->
    <div id="certificate">
      <div class="small-title">
        <i class="fas fa-award small-icon"></i>
        <p>CERTIFICATE</p>
        <i class="fas fa-award small-icon"></i>
      </div>
    </div>

    <h3 class="name">
      <%= document.name %>
    </h3>

    <h4 class="institute">
      <i class="far fa-building"></i>
      <%= document.institute %>
    </h4>

<!-- <h4 class="qualification"><%#= document.qualification %></h4> -->

    <p class="achieved">
      <%= document.achieved.strftime("%Y") if document.achieved %>
    </p>

    <p class="years">
      Experience: <%= document.years_of_experience %> years
    </p>

    <% if document.photo.present? %><!-- Photo -------------------------------->
      <%= cl_image_tag document.photo, style: 'height:auto;max-width:100%;',
          effect: "improve:outdoor", quality: "auto", class: "image" %>
    <% else %>
      <img src="https://loremflickr.com/200/300/certificate/all" alt="Degree">
    <% end %>

    <br><br>
    <!-- Edit BTN ------------------------------------------------------------->
    <%#= link_to "Edit",edit_tutor_document_path(@tutor, document),
        class:"btn btn-warning" %>

    <!-- Delete BTN ----------------------------------------------------------->
    <%#= link_to tutor_document_path(@tutor, document), style:"padding:0 10%",
        data:{confirm:'Are you sure?'}, method: :delete do %>
      <!-- <i class="far fa-trash-alt" style="font-size:3em;opacity:.7"></i> -->
    <%# end %>

  <% end %>

<!-- Add Documents BTN if NO Documents ---------------------------------------->
  <% else %>
    <br>
    <%= link_to "Add Document", new_tutor_document_path(@tutor),
        class:"btn btn-success" %>

  <% end %>

</div>

<br>
<br>

<div id="btn-edit">
  <%= link_to tutor_path(@tutor) do %>
    <%= image_tag "tutor.png" %>
  <% end %>
</div>
