<!-- Dynamic Head Title -->
<% provide(:title, 'Document') %>

<div class="text-center">

<!-- TUTOR Document ----------------------------------------------------------->
  <h2>Name: <%= @document.name %></h2>
  <h3>Institute: <%= @document.institute %></h3>
  <h3>Qualification: <%= @document.qualification %></h3>
  <p>Achieved: <%= @document.achieved %></p>
  <p>Years of Exp: <%= @document.years_of_experience %></p>

  <% if @document.photo.present? %><!-- Photo --------------------------------->
    <%= cl_image_tag @document.photo, style: 'height:auto;max-width:100%;',
        effect: "improve:outdoor", quality: "auto" %>
  <% else %>
    <img src="https://www.smartdraw.com/certificate/img/certificate-1.jpg?bn=1510011142" alt="Degree">
  <% end %>
  <br>

</div>
<br>
<br>
