<h1 class="text-center">
  <strong>Add Identification</strong>
</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

      <%= simple_form_for [@tutor, @identity],
        :url => url_for(:action => 'update', :controller => 'identities'),
        :method => 'patch' do |f| %>

        <%= f.label :document_type, "Document type" %>
        <%= f.collection_radio_buttons :document_type,
            [[:passport, 'Passport'],[:national_id, 'National ID']],:first,:last%>
        <%= f.input :name, placeholder: "Insert name as it appears on Document",
            autofocus: true, input_html: { :style=> 'width: 100%;' } %>
        <%= f.input :document_number, placeholder: "Insert ID Number",
            input_html: { :style=> 'width: 100%;' } %>
        <%= f.input :expired, as: :date, html5: true, discard_day: true,
            order: [:month, :year], start_year: Date.today.year,
            end_year: Date.today.year + 25 %>
        <%= f.input :nationality, placeholder: "Insert Nationality",
            input_html: { style: 'width: 100%;' } %>
        <%= f.input :photo %><%= f.input :photo_cache, as: :hidden %>

        <!-- ADMIN ------------------------------------------------------------>
        <%#= f.input :notes, placeholder: "Admin's notes",
            input_html: { :style=> 'width: 100%;', :rows => 5 } %>
        <br>
        <%= f.submit "Add Document", class:"btn btn-primary" %>

      <% end %>

    </div>
  </div>
</div>

<br>
<br>
