<!-- Dynamic Head Title -->
<% provide(:title, 'My Lessons') %>

<div class="text-center" id="profileAndLogout" >

<% if current_user.is_a? Student %>
  <!-- STUDENT show/logout ---------------------------------------------->
  <%= link_to destroy_student_session_path, style:"padding:0 10%",
     method: :delete do %>
    <i class="fas fa-sign-out-alt" style="font-size:2.5em"></i>
  <% end %>
  <%= link_to student_path(current_student), style:"padding:0 10%" do %>
    <i class="fas fa-user-graduate" style="font-size:2.5em"></i>
  <% end %>

<% else %><!-- TUTOR show/logout -------------------------------------->
  <%= link_to destroy_tutor_session_path, style:"padding:0 10%",
   method: :delete do %>
    <i class="fas fa-sign-out-alt" style="font-size:2.5em"></i>
  <% end %>
  <%= link_to tutor_path(current_tutor), style:"padding:0 10%" do %>
    <i class="fas fa-chalkboard-teacher" style="font-size:2.5em"></i>
  <% end %>
<% end %>
<hr>

<!-- T U T O R ---------------------------------------------------------------->
<% if current_user.is_a? Tutor %>

  <!-- Email -->
  <h4>Current Tutor: <%= current_tutor.email %></h4>

  <!-- Name -->
  <% if current_tutor.name %> <!-- Facebook name  -->
    <h4>Name: <%= current_tutor.name %></h4>

  <% else %> <!-- Last_name + First_name  -->
    <h4>
      Name: <%= current_tutor.last_name.capitalize %> <%= current_tutor.first_name.capitalize %>
    </h4>
  <% end %>

<!-- Image-->
<% if current_tutor.image_fb.present?  %> <!--  Facebook IMG -->
  <div><%= image_tag current_tutor.image_fb + "?type=small"  %></div>
<% elsif current_tutor.photo.present? %> <!-- Cloudinary IMG  -->
  <div><%= cl_image_tag current_tutor.photo.url(:bright_face) %></div>
<% elsif current_tutor.placeholder.present? %> <!-- Random Avatar  -->
  <div><%= image_tag current_tutor.placeholder, style: "border-radius:50%;" %></div>
<% else %> <!-- Cloudinary IMG  -->
  <div style="margin:0 auto;width:100px;height:100px;
    background-image: url(<%= @a %>);background-position: center;
    background-repeat: no-repeat; background-size: cover;">
  </div>
<% end %>

<!-- S T U D E N T ------------------------------------------------------------>
<% elsif current_student %>
  <!-- Email -->
  <h4>Current Student: <%= current_student.email %></h4>

  <!-- Name -->
  <% if current_student.name %> <!-- Facebook name  -->
    <h4>Name: <%= current_student.name %></h4>
  <% else %> <!-- Last_name + First_name  -->
    <h4>Name: <%= current_student.last_name.capitalize %> <%= current_student.first_name.capitalize %></h4>
  <% end %>

  <!-- Image-->
  <% if current_student.image_fb.present?  %>  <!--  Facebook IMG -->
    <div><%= image_tag current_student.image_fb + "?type=small"  %></div>
  <% elsif current_student.photo.present? %> <!-- Cloudinary IMG  -->
    <div><%= cl_image_tag current_student.photo.url(:bright_face) %></div>
  <% elsif current_student.placeholder.present? %> <!-- Random Avatar  -->
    <div><%= image_tag current_student.placeholder, style: "border-radius:50%;" %></div>
  <% else %> <!-- Rescue IMG  -->
    <div style="margin:0 auto;width:100px;height:100px;
      background-image: url(<%= @a %>);background-position: center;
      background-repeat: no-repeat; background-size: cover;">
    </div>
  <% end %>

<% else %> <!-- Not Logged In -->
  <h4><i class="fas fa-user-slash"></i> Not Logged In...</h4>
<% end %>

</div>

<hr>
<br>

<!-- N A V I G A T I O N ------------------------------------------------------>
<%= link_to "All Lessons", all_path, class:"btn btn-primary" %>
<%= link_to "Request a LESSON", new_lesson_path,
    class:"btn btn-success" if current_user.is_a? Student  %>

<!-- O R D E R S -------------------------------------------------------------->
<% if current_student && current_student.orders.count > 0 %>
  <%= link_to "My Orders", orders_path, class:"btn btn-outline-danger" %>
<% elsif current_student && current_student.orders.count.zero?%>
  <div class="btn btn-secondary">No Orders..</div>
<% end %>

<h1>My Lessons</h1>

<br>
<br>
<br>
<!-- L E S S O N S ------------------------------------------------------------>
<% if @lessons.present? %>

  <% @lessons.each do |lesson| %>
    <p>
      <i class="fas fa-book"></i> Lesson Title:<br>
      <strong><%= link_to lesson.title, lesson_path(lesson) %></strong>
      | <%= link_to "Edit", edit_lesson_path(lesson), class: "btn btn-warning"%>

      <!-- Student DELETE - method: :delete ----------------------------------->
      <% if current_user.is_a? Student %>
        | <%= link_to 'Delete',lesson_path(lesson), data:{confirm:'Are you sure?'},
            method: :delete, class: "btn btn-danger" %>
      <% end %>

      <br>
    <!--   Category: <%#= link_to lesson.category.name,category_path(lesson.category)%> -->
      Category: <%= lesson.category.name %>
      <br>
      <br>

      <!-- AMOUNT setting ----------------------------------------------------->
      <% if lesson.price.zero? %>
        <i class="fas fa-search"></i><small>Looking for Tutor</small>
      <% else %>


        <% if current_user.is_a? Student %><!-- Tutor name -------------------->

          <!-- Tutor Image-->
          <% if lesson.tutor.present? %>
            <% if lesson.tutor.image_fb.present?  %>  <!--  Facebook IMG -->
              <div><%= image_tag lesson.tutor.image_fb + "?type=small"  %></div>
            <% elsif lesson.tutor.photo.present? %> <!-- Cloudinary IMG  -->
              <div>
               <%= link_to (cl_image_tag lesson.tutor.photo.url(:bright_face_small)),
                   tutor_path(lesson.tutor)%>
              </div>
              <% elsif lesson.tutor.placeholder.present? %> <!-- Random Avatar  -->
                <div><%= image_tag lesson.tutor.placeholder, style: "border-radius:50%;" %></div>
            <% else %> <!-- Rescue IMG  -->
              <div style="width:70px;height:70px;background-image:url(<%= @a %>);background-position:center;background-repeat:no-repeat;
                background-size:cover;">
              </div>
            <% end %>

          <% if lesson.tutor.name %><!-- Facebook name -->
            Tutor: <%= link_to lesson.tutor.name, tutor_path(lesson.tutor)%>
          <% else %>
            Tutor: <%= link_to lesson.tutor.last_name.capitalize,
              tutor_path(lesson.tutor)%>
          <% end %>


        <%= form_for lesson do |f| %>
          <%= f.hidden_field :status, value: "requested" %>
          <%= f.hidden_field :tutor_id, value: nil %>
          <%= f.hidden_field :tutor_notes, value: nil %>
          <%= f.hidden_field :price, value: 0 %>
          <%= f.submit "Decline Tutor", data: {confirm:'Are you sure?'},
            class:"btn btn-danger" %>
        <% end %>
      <% end %>




        <% else %><!-- Student name ------------------------------------------->

      <!-- Student Image-->
        <% if lesson.student.image_fb.present?  %>  <!--  Facebook IMG -->
          <div><%= image_tag lesson.student.image_fb + "?type=small"  %></div>
        <% elsif lesson.student.photo.present? %> <!-- Cloudinary IMG  -->
          <div>
           <%= link_to (cl_image_tag lesson.student.photo.url(:bright_face_small)),
               student_path(lesson.student)%>
          </div>
        <% elsif lesson.student.placeholder.present? %> <!-- Random Avatar  -->
          <div><%= image_tag lesson.student.placeholder, style: "border-radius:50%;" %></div>
        <% else %> <!-- Rescue IMG  -->
          <div style="width:70px;height:70px;background-image: url(<%= @a %>);background-position: center;
            background-repeat: no-repeat;
            background-size: cover;">
          </div>
        <% end %>

          <% if lesson.student.name %><!-- Facebook name -->
            Student: <%= link_to lesson.student.name,student_path(lesson.student)%>
          <% else %>
            Student: <%= link_to lesson.student.last_name.capitalize,
              student_path(lesson.student)%>
          <% end %>

        <% end %>
        <br>

        Amount: <%= humanized_money_with_symbol(lesson.price) %>
      <% end %>


      <!-- Tutor DELETE ( updating attributes - NOT deleting ) ---------------->
      <% if current_user.is_a? Tutor %>
        <%= form_for lesson do |f| %>
          <%= f.hidden_field :status, value: "requested" %>
          <%= f.hidden_field :tutor_id, value: nil %>
          <%= f.hidden_field :tutor_notes, value: nil %>
          <%= f.hidden_field :price, value: 0 %>
          <%= f.submit "Delete", data:{confirm:'Are you sure?'},
            class:"btn btn-danger" %>
        <% end %>
      <% end %>

    </p>
  ------------------------------ <br> <br>
  <% end %>

<% else %><br> <!-- IF NO LESSON ---------------------------------------------->

  <% if current_user.is_a? Student %> <!-- Student Hint -->
    <p><%= "Simply create your lesson by clicking the button above!" %></p>

  <% else%> <!-- Tutor Hint -->
    <p><%= "No lessons yet..." %></p>
  <% end %>

<% end %>
