<!-- Dynamic Head Title -->
<% provide(:title, 'Lessons') %>

<h1>Flexi Learn - Lessons</h1>
<br>

<% if current_tutor %>

  <h3>Current Tutor: <%= current_tutor.email %></h3>

<% elsif current_student %>

  <h3>Current Student: <%= current_student.email %></h3>
  <h3>Name: <%= current_student.name if current_student.name %></h3>

  <div><%= image_tag current_student.image + "?type=large" if current_student.image  %></div>

<% else %>

  <h4><i class="fas fa-user-slash"></i> User not Logged...</h4>

<% end %>
<br>

<!-- NAVIGATION index -->
<%= link_to "Go to STUDENTS", students_path, class:"btn btn-primary" %>
<%= link_to "Go to TUTORS", tutors_path, class:"btn btn-primary" %>
<%= link_to "Go to SUBJECTS", subjects_path, class:"btn btn-primary" %>



<br>
<% @lessons.each do |lesson| %>
  <br>
  |→ <%= link_to lesson.subject.name, lesson_path(lesson) %>
  <br>
<% end %>
