<!-- HIDING Navigation for Device -->
<% @navigation = true  if controller_name == "lessons" %>

<div id="gray-header">
<!--
  <div id="logo-edit">
    <%#= image_tag "edit.png" %>
  </div>
-->
</div>

<%= simple_form_for @lesson,
  url: url_for(action: 'create', controller: 'lessons'),
  method: 'post' do |f| %>

  <div id="logo-edit"><!-- Logo + Hint sticky TOP ----------------------------->
    <%= image_tag "plus.png" %>
    <p id="edit-hint" class="text-center" >
      <span id="text-hint">
        Create your Lesson
      </span>
    </p>
  </div>

  <%= f.error_notification %>

  <%= f.input :title, label: ("<i class='fas fa-pen-fancy'></i> Title").html_safe, placeholder: "Insert title here",
      input_html: { style: 'width: 100%;', rows: 2 } %>

  <%= f.collection_select(:category_id, Category.all, :id, :name, prompt: "Choose a Category",input_html: { style: 'width: 100%;' } ) %>

  <%= f.input :request, label: ("<i class='far fa-comment'></i> Request").html_safe, placeholder: "Explain your request",
      input_html: { style: 'width: 100%;', rows: 8 } %>

  <%= f.input :notes, label: ("<i class='far fa-sticky-note'></i> Notes").html_safe, placeholder: "Add more info, like doorbell or floor number, or extra notes about your request.",
      input_html: { style: 'width: 100%;', rows: 5 } %>

  <%= f.input :location, label: ("<i class='fas fa-map-marker-alt'></i> Location").html_safe, placeholder: "Where?",
      input_html: { style: 'width: 100%;', id: "search", rows: 2 } %>

  <%= f.input :date, label: ("<i class='far fa-calendar-alt'></i> Date").html_safe, as: :string, html5: true,
      input_html: { value: Date.today.strftime('%Y-%m-%d').to_s, class: "datepicker"} %>

  <%= f.input :time, label: ("<i class='far fa-clock'></i> Time").html_safe, as: :time, html5: true,
      input_html: { value: Time.now.strftime('%H:%M').to_s } %>

  <%#= f.label "Private_lesson", class: "text-center"  %>
  <%#= f.check_box :private %>

  <%= f.input :photo, label: false %>
  <%= f.input :photo_cache, as: :hidden %>

  <br>

  <!-- Display: NONE -->
  <%= f.submit "Create Lesson", id: "btn",
      style: "display:none;" %>

  <%= link_to "Create Lesson", url_for(:back), id: "btn", class: "text-center" %>

<% end %>

<br>
<br>
<%= link_to url_for(:back), id: "back", class: "text-center" do %>
  <i class="far fa-arrow-alt-circle-left"></i>
<% end %>
