<!-- Dynamic Head Title -->
<% provide(:title, 'Lesson') %>

<div class="text-center">
  <h2>Title:<strong><br><%= @lesson.title %></strong></h2>
  <h3>Category:<strong><br><%= @lesson.category.name %></strong></h3>
  <br>

  <!-- Location + GoogleMAPS Link --------------------------------------------->
  <p><strong>Location:</strong><br><%= @lesson.location %></p>
  <div class="goto-maps">
    <%= link_to "https://www.google.com/maps/dir/?api=1&destination=#{URI::encode(
        @lesson.location)}", target: "_blank" do %>
      <!-- <p><i class="fas fa-street-view"></i></p> -->
      <%= image_tag "google-maps.svg", width:40; %>
    <% end %>
  </div>

  <!-- Date + Time ------------------------------------------------------------>
  <p>
    <strong>Date: </strong><big><%= @lesson.date.strftime("%a, %e %b %Y") %></big>
  </p>
  <p>
    <strong>Time: </strong><big><%= @lesson.time.strftime("%I:%M%p") %></big>
  </p>

<!-- S T U D E N T Name ------------------------------------------------------->
  <h3>
    <i class="fas fa-user-graduate"></i>
    <strong>Student:</strong><br>
    <% if @lesson.student.name.present? %> <!-- Facebook Name -->
      <%= link_to @lesson.student.name, student_path(@lesson.student) %>
    <% else %>
      <%= link_to @lesson.student.first_name.capitalize + " " +
          @lesson.student.last_name.capitalize, student_path(@lesson.student) %>
    <% end %>
  </h3>

<!-- T U T O R Name ----------------------------------------------------------->
  <h3>
    <i class="fas fa-chalkboard-teacher"></i>
    <strong>Tutor:</strong><br>
    <% if @lesson.tutor.present? %>
      <%= link_to @lesson.tutor.first_name.capitalize+" "+
          @lesson.tutor.last_name.capitalize, tutor_path(@lesson.tutor) %>
    <% else %>
      <i class='fas fa-question'></i>
    <% end %>
  </h3>

<!-- Status ------------------------------------------------------------------->
  <% color = "darkorange" if @lesson.status == "requested" %>
  <% color = "cadetblue"  if @lesson.status == "scheduled" %>
  <% color = "green"      if @lesson.status == "completed" %>
  <% color = "red"        if @lesson.status == "canceled"  %>

  <p>
    <strong>Status: </strong>
    <span style="color:<%= color %>;"><%= @lesson.status %></span>
  </p>

<!-- Request & Notes ---------------------------------------------------------->
  <p style="width: 80%;margin:0 auto;word-wrap: break-word;">
    <strong>Request:</strong><br><%= @lesson.request %>
  </p>
  <p style="width: 80%;margin:0 auto;word-wrap: break-word;">
    <strong>Notes:</strong><br><%= @lesson.notes %>
  </p>

<!-- Price -------------------------------------------------------------------->
  <% if @lesson.price.fractional > 0 %>
    <p><strong>
        Amount: <%= humanized_money_with_symbol(@lesson.price) %>
    </strong></p>
  <% end %>

<!-- Tutor Notes -------------------------------------------------------------->
  <% if @lesson.tutor_notes.present? %>
    <p style="border:2px solid darkgrey;padding:10%;margin:0 auto;
              word-wrap:break-word;width: 80%">
      <strong>Tutor notes:</strong><br>
      <em><%= @lesson.tutor_notes %></em>
    </p>
  <% end %>
  <br>

<!-- Photo -------------------------------------------------------------------->
  <% if @lesson.photo.present? %>
    <%= cl_image_tag @lesson.photo, height: 300, width: 400, crop: :fill %>
  <% else %>
    <img src="https://loremflickr.com/200/300/job,book,library/all" alt="LessonPic">
  <% end %>
  <br>

<!-- P U R C H A S E - STRIPE Btn --------------------------------------------->
  <% if current_user.is_a?(Student) && @lesson.tutor.present? &&
      @lesson.student == current_user %>
    <%= form_tag orders_path do %>
      <%= hidden_field_tag 'lesson_id', @lesson.id %>
      <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
    <% end %>
  <% end %>
  <br>

  <!-- TUTOR Btn to CONFIRM the lesson ( Lesson#EDIT ) -->
  <% if current_user.is_a?(Tutor) && @lesson.status == "requested" %>
    <%= link_to "I'm interested",edit_lesson_path(@lesson),class:"btn btn-primary"%>
  <% elsif current_user.is_a?(Tutor) && @lesson.status == "scheduled" %>
    <% @lesson.add_tutor_to_favourite(@lesson.student, @lesson.id) %>
    <% @lesson.add_student_to_favourite(@lesson.tutor, @lesson.id) %>
  <% end %>

  <!-- STUDENT Btn to EDIT ( Lesson#EDIT ) -->
  <% if current_user.is_a?(Student) && @lesson.student == current_student %>
    <%= link_to "Edit",edit_lesson_path(@lesson),class:"btn btn-primary"%>
  <% end %>

</div>
<br>
<br>
