<!-- Dynamic Head Title -->
<% provide(:title, 'Lesson') %>

<div class="text-center">
  <h2>Title: <strong><%= @lesson.title %></strong></h2>
  <h3>Category: <strong><%= @lesson.category.name %></strong></h3>

  <p>
    <strong>Location:</strong> <%= @lesson.location %> |
    <strong>Date:</strong> <%= @lesson.date %> |
    <strong>Time:</strong> <%= @lesson.time.strftime("at %I:%M%p") %>
  </p>

  <div>

    <h3><i class="fas fa-chalkboard-teacher"></i>
      <strong>Tutor:</strong> <%= @lesson.tutor != nil ? (link_to @lesson.tutor.last_name, tutor_path(@lesson.tutor)) : "?" %> |
    <i class="fas fa-user-graduate"></i>
      <strong>Student:</strong> <%= link_to @lesson.student.last_name, student_path(@lesson.student) %>
    </h3>

  </div>

  <% if @lesson.status == "requested" %>
    <% color = "darkorange" %>
  <% elsif @lesson.status == "scheduled" %>
    <% color = "green" %>
  <% elsif @lesson.status == "canceled" %>
    <% color = "red" %>
  <% end %>
  <p>Status: <span style="color:<%= color %>;"><%= @lesson.status %></span></p>

  <p><strong>Request: </strong><%= @lesson.request %></p>
  <p><strong>Notes: </strong><%= @lesson.notes %></p> <br>

  <% if @lesson.price.fractional != 0 %>
    <p><strong>Amount: <%= humanized_money_with_symbol(@lesson.price) %></strong></p>
  <% end %>


  <% unless @lesson.tutor_notes.nil? %>
    <p style="border:1px solid darkgrey; padding:10px;">
      <strong>Tutor notes: </strong><%= @lesson.tutor_notes %>
    </p>
  <% end %>
  <br>

  <img src="https://loremflickr.com/200/300/work,book,library/all" alt="Lesson Pic">
  <br>
  <br>

  <% unless @lesson.tutor.nil?%>
    <%= form_tag orders_path do %>
      <%= hidden_field_tag 'lesson_id', @lesson.id %>
      <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
    <% end %>
  <% end %>

  <br>
  <%= link_to "<< Back", lessons_path, class:"btn btn-primary " %>
</div>
<br>
<br>
