<!-- Dynamic Head Title -->
<% provide(:title, 'Lesson') %>

<div class="text-center">
  <p style="opacity:.6"><!-- Created at --------------------------------------->
    <em><small>
      Created on <%= @lesson.created_at.strftime("%e %b %Y") %>
    </small></em>
  </p>

<!-- S T U D E N T Name ------------------------------------------------------->
  <h3>
    <i class="fas fa-user-graduate"></i>
    <strong>Student:</strong><br>


  <!-- IMAGE ------------------------------------------------------------------>
  <% if @lesson.student.photo.present? %><!-- Cloudinary ------------------------------->
    <%= cl_image_tag @lesson.student.photo.url(:bright_face) %>

  <% elsif @lesson.student.image_fb.present? %><!-- Facebook --------------------------->
    <div style="border-radius: 50%">
      <%= image_tag @lesson.student.image_fb + "?type=large",style:"border-radius:50%" %>
    </div>
  <% elsif @lesson.student.placeholder.present? %> <!-- Random Avatar  -->
    <div><%= image_tag @lesson.student.placeholder, style: "border-radius:50%;" %></div>
  <% else %><!-- Loremflickr -------------------------------------------------->
    <div style="margin:0 auto;width:100px;height:100px;
      background-image: url(<%= @a %>); background-position: center;
      background-repeat: no-repeat; background-size: cover;">
    </div>
  <% end %>



    <% if @lesson.student.name.present? %> <!-- Facebook Name -->
      <%= link_to @lesson.student.name, student_path(@lesson.student) %>
    <% else %>
      <%= link_to @lesson.student.first_name.capitalize + " " +
          @lesson.student.last_name.capitalize, student_path(@lesson.student) %>
    <% end %>
  </h3>

<hr>
<!-- T U T O R Name ----------------------------------------------------------->
  <h3>
    <i class="fas fa-chalkboard-teacher"></i>
    <strong>Tutor<br><small>
      (lvl requested: <%=@lesson.tutor_lvl%><i class="fas fa-medal"></i>):
    </small></strong><br>

    <% if @lesson.tutor.present? %>

      <!-- IMAGE -------------------------------------------------------------->
      <% if @lesson.tutor.photo.present? %><!-- Cloudinary -------------------->
        <%= cl_image_tag @lesson.tutor.photo.url(:bright_face) %>

      <% elsif @lesson.tutor.image_fb.present? %><!-- Facebook --------------------------->
        <div style="border-radius: 50%">
          <%= image_tag @lesson.tutor.image_fb + "?type=large",style:"border-radius:50%" %>
        </div>
      <% elsif @lesson.tutor.placeholder.present? %> <!-- Random Avatar  -->
        <div><%= image_tag @lesson.tutor.placeholder, style: "border-radius:50%;" %></div>
      <% else %><!-- Loremflickr ---------------------------------------------->
        <div style="margin:0 auto;width:100px;height:100px;
          background-image: url(<%= @a %>); background-position: center;
          background-repeat: no-repeat; background-size: cover;">
        </div>
      <% end %>





      <%= link_to @lesson.tutor.first_name.capitalize+" "+
          @lesson.tutor.last_name.capitalize, tutor_path(@lesson.tutor) %>
    <% else %>
      <i class='fas fa-question'></i>
    <% end %>
  </h3>

<hr>
  <h2>Title:<strong><br><%= @lesson.title %></strong></h2>
  <br>
  <h4>Category:<strong><%= @lesson.category.name %></strong></h4>
  <br>


  <!-- Location + GoogleMAPS Link --------------------------------------------->
  <% if @lesson.location.present? %>
  <p><strong>Location:</strong><br><%= @lesson.location %></p>
  <div class="goto-maps">
    <%= link_to "https://www.google.com/maps/dir/?api=1&destination=#{URI::encode(
        @lesson.location)}", target: "_blank" do %>
      <!-- <p><i class="fas fa-street-view"></i></p> -->
      <%= image_tag "google-maps.svg", width:40; %>
    <% end %>
  </div>
  <% end %>
<br>
<br>

  <!-- Date + Time ------------------------------------------------------------>
  <p>
    <strong>Date: </strong><big><%= @lesson.date.strftime("%a, %e %b %Y") %></big>
  </p>
  <p>
    <strong>Time: </strong><big><%= @lesson.time.strftime("%I:%M%p") %></big>
  </p>

<br>
<br>
<!-- Status ------------------------------------------------------------------->
  <% color = "darkorange" if @lesson.status == "requested" %>
  <% color = "cadetblue"  if @lesson.status == "scheduled" %>
  <% color = "green"      if @lesson.status == "completed" %>
  <% color = "red"        if @lesson.status == "canceled"  %>

  <p>
    <strong>Status: </strong>
    <span style="color:<%= color %>;"><%= @lesson.status %></span>
  </p>

<!-- Request & Notes ---------------------------------------------------------->
  <p style="width: 80%;margin:0 auto;word-wrap: break-word;">
    <strong>Request:</strong><br><%= @lesson.request %>
  </p>
  <p style="width: 80%;margin:0 auto;word-wrap: break-word;">
    <strong>Notes:</strong><br><%= @lesson.notes %>
  </p>

<!-- Price -------------------------------------------------------------------->
  <% if @lesson.price.fractional > 0 %>
    <br><br>
    <p><strong>
        Amount: <%= humanized_money_with_symbol(@lesson.price) %>
    </strong></p>
    <br><br>
  <% end %>

<!-- Tutor Notes -------------------------------------------------------------->
  <% if @lesson.tutor_notes.present? %>
    <p style="border:2px solid darkgrey;padding:10%;margin:0 auto;
              word-wrap:break-word;width: 80%">
      <strong>Tutor notes:</strong><br>
      <em><%= @lesson.tutor_notes %></em>
    </p>
  <% end %>
  <br>

<!-- Photo -------------------------------------------------------------------->
  <% if @lesson.photo.present? %>
    <%= cl_image_tag @lesson.photo, style: 'height:auto;max-width:100%;',
        effect: "improve:outdoor", quality: "auto" %>
  <% else %>
    <img src="https://loremflickr.com/600/400/university,homework" alt="LessonPic" style="box-shadow: 0px 2px 4px #aaa;border-radius:2px;">
  <% end %>
  <br>
  <br>

<!-- P U R C H A S E - STRIPE Btn --------------------------------------------->
  <% if current_user.is_a?(Student) && @lesson.tutor.present? &&
      @lesson.student == current_user && !@lesson.paid? %>
    <%= form_tag orders_path do %>
      <%= hidden_field_tag 'lesson_id', @lesson.id %>
      <%= submit_tag 'Purchase', class: 'btn btn-success' %>
    <% end %>
  <% end %>
  <br>

  <!-- TUTOR Btn to CONFIRM the lesson ( Lesson#EDIT ) -->
  <% if current_user.is_a?(Tutor) && @lesson.status == "requested" %>
    <%= link_to "I'm interested",edit_lesson_path(@lesson),class:"btn btn-primary"%>
  <% end %>

  <!-- STUDENT Btn to EDIT ( Lesson#EDIT ) -->
  <% if current_user.is_a?(Student) && @lesson.student == current_student %>
    <%= link_to "Edit",edit_lesson_path(@lesson),class:"btn btn-warning"%>
  <% end %>

</div>
<br>
<br>
