<!-- HIDING Navigation for Device -->
<% @navigation = true  if controller_name == "registrations" %>


<div id="gray-header">
<!--
  <div id="logo-edit">
    <%#= image_tag "edit.png" %>
  </div>
-->
</div>

<%= simple_form_for(resource, as: resource_name,
    url: registration_path(resource_name),
    html: { method: :put }) do |f| %>

  <p id="edit-hint" class="text-center" >
   <em>Edit your profile and press "UPDATE"</em>
  </p>

  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>

    <%= f.input :email %>
    <%= f.input :phone %>
    <%= f.input :birthdate, as: :string, html5: true,
        input_html: { value: @student.birthdate.strftime('%Y-%m-%d').to_s,
        class: "datepicker-student-edit"} %>
    <%= f.input :bio, placeholder: "Tell us something about you!",
        input_html: { :style=> 'width: 100%;', :rows => 8 } %>

    <%= f.input :photo, hint: "Please, only you in the photo" %>
    <%= f.input :photo_cache, as: :hidden %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%=resource.unconfirmed_email%></p>
    <% end %>
    <br>
    <%= f.input :password, autocomplete: "off",
        hint: "leave it blank if you don't want to change it",
        required: false %>
    <%= f.input :password_confirmation, required: false, class: "force-devise-edit" %>
    <%= f.input :current_password,
        hint: "we need your current password to confirm your changes",
        required: true %>
  </div>

  <div id="update" class="form-actions">
    <%= f.button :submit, "UPDATE", id: "btn" %>
  </div>
<% end %>

<br>
<br>

<p style="opacity: .7;">
  Unhappy? <%= link_to "Cancel my account", registration_path(resource_name),
    data: { confirm: "Are you sure?" }, method: :delete %>
</p>
